<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urlDomainHttp</key>
	<string>http://go10.au-syd.mybluemix.net</string>
	<key>urlDomainHttps</key>
	<string>https://go10.au-syd.mybluemix.net</string>
	<key>pathTopicService</key>
	<string>/GO10WebService/api/newtopic</string>
	<key>pathRoomService</key>
	<string>/GO10WebService/api/room</string>
	<key>pathUserService</key>
	<string>/GO10WebService/api/user</string>
</dict>
</plist>
